name: {{or .Name "WordPress"}}
version: {{or .Version "1.0.0"}}
annotations:
    category: CMS
    licenses: Apache-2.0
    {{if .AnnotationsKey}}{{.AnnotationsKey}}{{else}}images{{end}}: |
{{- include "images.partial.tmpl" . | indent 6 }}
appVersion: {{if .AppVersion}}{{.AppVersion}}{{else}}6.2.2{{end}}
{{if .Dependencies }}
{{if gt (len .Dependencies) 0 }}
dependencies:
{{- range .Dependencies}}
    - name: {{.Name}}
      repository: {{.Repository}}
      version: {{.Version}}
{{end -}}
{{end}}
{{end}}
{{if .Authors }}
{{if gt (len .Authors) 0 }}
maintainers:
{{- range .Authors}}
    - name: {{.Name}}
      email: {{.Email}}
{{end -}}
{{end}}
{{end}}
{{if .Websites }}
{{if gt (len .Websites) 0 }}
sources:
{{- range .Websites}}
    - {{.URL}}
{{end -}}
{{end}}
{{end}}
