- name: wordpress
  image: {{.ServerURL}}/bitnami/wordpress:6.2.2-debian-11-r11
- name: bitnami-shell
  image: {{.ServerURL}}/bitnami/bitnami-shell:11-debian-11-r124
- name: apache-exporter
  image: {{.ServerURL}}/bitnami/apache-exporter:0.13.4-debian-11-r2
