version:
  apiversion: imgpkg.carvel.dev/v1alpha1
  kind: Bundle
metadata:
  category: CMS
  licenses: Apache-2.0
  name: {{or .Name "WordPress"}}
authors:
  - name: VMware, Inc.
    email: "dt@vmware.com"
websites:
  - url: https://github.com/bitnami/charts/tree/main/bitnami/wordpress